@import "tailwindcss";

/* src/app/globals.css */

/* src/app/globals.css */

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #121212;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid;
    border-radius: 5px;
}


